@media screen and (max-width: 650px) {
    .header {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
}
@media screen and (min-width: 500px) {
    .header__menu {
      display: none;
    }
}

@media screen and (max-width: 499px) {
    .nav__list {
      z-index: 10;
      background-color: darkgray;
      padding: 0;
      width: 200px;
      position: absolute;
      top: 60px;
      left: 0;
      color: black;
      
      -webkit-transform: translate(-300px, 0);
      transform: translate(-300px, 0);
      transition: transform 0.5s ease;
    }
    
    .header__menu{
      display: block;
      position: absolute; /* Ensure the menu button stays in the right place */
      left: 10px;
      top: 10px; /* Adjust for positioning */
      background-color: darkgray;
    }

    .open{
      -webkit-transform: translate(0, 0);
      transform: translate(0,0)
    }
  
    .nav__list ul {
      display: flex;
      flex-direction: column;
      gap: 0;
      border-radius: 10px;
    }
  
    .nav__list ul li a {
      color: rgb(28, 22, 120);
    }
  
    .nav__item {
      display: list-item;
      border-bottom: 1px solid white;
      width: 100%;
      text-align: left;
      padding: 10px;  
    }
  }

  @media screen and (min-width: 1200px) {
    main {
      max-width: 1200px;
    }
  
    .hero {
      min-width: 1200px;
    }
  }